<div class="card">
  <div class="flex">
    <h2>Einspeisemanagement</h2>
  </div>

  <p-selectButton [pTooltip]="deviceGroups.length == 0 ? 'Einspeisemanagement erst verfügbar, wenn es Gruppen gibt.': ''"
                  tooltipPosition="left"
                  [disabled]="deviceGroups.length == 0 && feedInManagementGroups.length == 0"
                  (onOptionClick)="saveConfiguration()"
                  [options]="stateOptions"
                  [(ngModel)]="configuration.feedInManagement"
                  optionLabel="label"
                  optionValue="value"></p-selectButton>

</div>

<div class="card" style="height: calc(100vh - 21rem);">
  <h2>Verwaltung</h2>

  <!-- Liste -->
  <p-pickList [source]="deviceGroups"
              [target]="feedInManagementGroups"
              sourceHeader="Verfügbare Gruppen"
              targetHeader="Für Einspeisung ausgewählte Gruppen"
              [dragdrop]="true"
              [responsive]="true"
              [sourceStyle]="{ height: '55vh' }"
              [targetStyle]="{ height: '55vh' }"
              filterBy="name"
              sourceFilterPlaceholder="Gruppennamen suchen"
              targetFilterPlaceholder="Gruppennamen suchen"
              (onMoveToTarget)="onMoveToTarget()"
              (onMoveAllToTarget)="onMoveToTarget()"
              (onMoveToSource)="onMoveToSource()"
              (onMoveAllToSource)="onMoveToSource()">
    <ng-template let-group pTemplate="item">
      <h3 class="font-bold">{{ group.name }}</h3>
      <div class="flex flex-wrap align-items-center gap-2 pt-2">
        <div *ngFor="let d of group.devices">
          <p-chip *ngIf="d.active" label="{{ d.name }}" image="assets/images/green_dot.png"/>
          <p-chip *ngIf="!d.active" label="{{ d.name }}" image="assets/images/red_dot.png"/>
        </div>
      </div>
    </ng-template>
  </p-pickList>

</div>
