<div class="card">
  <div class="flex">
    <h2>Einspeisemanagement</h2>
  </div>

  <p-selectButton [pTooltip]="deviceGroups.length == 0 ? 'Einspeisemanagement erst verfügbar, wenn es Gruppen gibt.': ''"
                  tooltipPosition="left"
                  [disabled]="deviceGroups.length == 0 && selectedGroups.length == 0"
                  (onOptionClick)="saveConfiguration()"
                  [options]="stateOptions"
                  [(ngModel)]="configuration.feedInManagement"
                  optionLabel="label"
                  optionValue="value"></p-selectButton>

</div>

<div class="card">
  <h2>Verwaltung</h2>

  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3" *ngFor="let group of deviceGroups">
      <div class="card">
        <div class="grid" style="align-items: baseline">
          <div class="col-10">{{group.name}}</div>
          <div class="col-2">
            <p-checkbox [value]="group" [(ngModel)]="selectedGroups" (onChange)="updateGroup(group)"></p-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
