<div class="card">
  <div class="flex">
    <h2>Geräte konfigurieren</h2>
    <p-splitButton [style.margin-left]="'auto'" [model]="buttonItems" label="Hinzufügen"></p-splitButton>

  </div>

  <div class="grid mt-3">
    <div class="col-12 md:col-6 lg:col-4" *ngFor="let device of devices">
      <div class="card cursor-pointer" [routerLink]="['/device', device.id]" pBadge size="large" [severity]="device.active ? 'success' : 'danger'" >
        <div class="grid">
          <div class="col">
            <label for="name" class="block font-medium mb-2">Name des Gerätes</label>
            <span id="name" class="text-500">{{device.name}}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col">
            <label for="model" class="block font-medium mb-2">Modell</label>
            <span id="model" class="text-500">{{device.model}}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col">
            <label for="interfaceType" class="block font-medium mb-2">Gerätetyp</label>
            <span id="interfaceType" class="text-500">{{device.deviceType}}</span>
          </div>
        </div>

        <hr>
        <div class="flex" style="align-items: baseline">
          <span class="text-500">Erstellt am: {{device.createdAt | date: 'dd.MM.yyyy'}}</span>

          <button pButton type="button" icon="pi pi-arrow-right" [routerLink]="['/device', device.id]"
                  pTooltip="Gerät bearbeiten" style="margin-left: auto; order: 2"
                  class="p-button-rounded p-button-text mr-2"></button>
        </div>
      </div>
    </div>
  </div>
</div>
