<div class="card">
  <h2>Geräte konfigurieren</h2>
  <p-messages *ngIf="interfaceConfigs.length === 0" severity="info">
    <ng-template pTemplate>
      <i class="pi pi-info-circle"></i>
      <div class="ml-2">Bitte mindestens eine Schnittstelle konfigurieren, damit Geräte erstellt werden können.</div>
    </ng-template>
  </p-messages>

  <app-add-button *ngIf="interfaceConfigs.length > 0" (add)="createDevice()"></app-add-button>

  <p-table *ngIf="interfaceConfigs.length > 0"
           [value]="devices"
           sortField="unitId"
           sortMode="single"
           [scrollable]="true"
           scrollHeight="400px"
           rowGroupMode="subheader"
           groupRowsBy="interfaceConfig.description"
           [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Slave-ID</th>
        <th>Modell</th>
        <th>Gerätetyp</th>
        <th>Erstellt am</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="groupheader" let-device>
      <tr pRowGroupHeader>
        <td colspan="7">
          <span class="font-bold">{{device.interfaceConfig.type}} - {{ device.interfaceConfig.description }}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="groupfooter" let-device>
      <tr>
        <td colspan="7" class="text-right font-bold pr-6">Anzahl an
          Geräten: {{calculateDeviceTotal(device.interfaceConfig)}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-device let-rowIndex="rowIndex">
      <tr>
        <td>
          <p-chip *ngIf="device.active" label="Erreichbar" image="assets/images/green_dot.png"/>
          <p-chip *ngIf="!device.active" label="Nicht Erreichbar" image="assets/images/red_dot.png"/>
        </td>
        <td>
          {{device.name}}
        </td>
        <td>
          {{device.unitId}}
        </td>
        <td>
          {{device.model}}
        </td>
        <td>
          {{device.deviceType}}
        </td>

        <td>
          {{device.createdAt | date: 'dd.MM.yyyy HH:mm'}}
        </td>

        <td>


          <button pButton type="button" icon="pi pi-trash" (click)="deleteDevice(device)"
                  class="p-button-rounded p-button-text p-button-danger mr-2"></button>


        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
<app-delete-dialog></app-delete-dialog>
