<div class="card">
  <div class="flex">
    <h2>Geräte konfigurieren</h2>
    <i pTooltip="Hier können Sie ihre Geräte erstellen. Ab den Zeitpunkt wo diese erreichbar sind, werden Metriken aufgenommen." class="pi pi-info-circle"></i>
    <button *ngIf="interfaceConfigs.length > 0" pButton type="button" icon="pi pi-plus" (click)="createDevice()"
            tooltipPosition="bottom"
            pTooltip="Hinzfügen" style="margin-left: auto; order: 2"
            class="p-button-rounded p-button-outlined "></button>
  </div>

  <p-messages *ngIf="interfaceConfigs.length === 0" severity="info">
    <ng-template pTemplate>
      <i class="pi pi-info-circle"></i>
      <div class="ml-2">Bitte mindestens eine Schnittstelle konfigurieren, damit Geräte erstellt werden können.</div>
    </ng-template>
  </p-messages>

  <div class="grid mt-3">
    <div class="col-12 md:col-6 lg:col-4" *ngFor="let device of devices">
      <div class="card cursor-pointer" [routerLink]="['/device', device.id]" pBadge size="large" [severity]="device.active ? 'success' : 'danger'" >
        <div class="grid">
          <div class="col">
            <label for="name" class="block font-medium mb-2">Name des Gerätes</label>
            <span id="name" class="text-500">{{device.name}}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col">
            <label for="model" class="block font-medium mb-2">Modell</label>
            <span id="model" class="text-500">{{device.model}}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col">
            <label for="deviceType" class="block font-medium mb-2">Schnittstelle</label>
            <span id="deviceType" class="text-500">{{device.interfaceType}}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col">
            <label for="interfaceType" class="block font-medium mb-2">Gerätetyp</label>
            <span id="interfaceType" class="text-500">{{device.deviceType}}</span>
          </div>
        </div>

        <hr>
        <div class="flex" style="align-items: baseline">
          <span class="text-500">Erstellt am: {{device.createdAt | date: 'dd.MM.yyyy'}}</span>

          <button pButton type="button" icon="pi pi-arrow-right" [routerLink]="['/device', device.id]"
                  pTooltip="Gerät bearbeiten" style="margin-left: auto; order: 2"
                  class="p-button-rounded p-button-text mr-2"></button>
        </div>
      </div>
    </div>
  </div>
</div>
