<div class="flex flex-wrap align-items-center justify-content-center h-screen">
  <div class="p-8 w-full lg:w-3 flex flex-col justify-center">
    <div>
      <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">Willkommen</div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="username" class="block text-900 font-medium mb-2">Benutzername</label>
        <div class="w-full mt-0 p-error"
             *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].errors?.['required']">
          Bitte geben Sie Ihren Benutzername ein.
        </div>
        <input id="username" type="text" placeholder="Benutzername" pInputText class="w-full mb-3" formControlName="username"
               [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
        <label for="password" class="block text-900 font-medium mb-2">Password</label>
        <div class="p-error" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']">
          Bitte geben Sie Ihr Passwort ein.
        </div>
        <input id="password" type="password" placeholder="Password" pInputText class="w-full mb-3" formControlName="password" required>

        <button pButton type="submit" label="Anmelden" icon="pi pi-user" class="w-full" [disabled]="loginForm.invalid"></button>
      </form>
    </div>
  </div>
</div>
