<div class="grid">
  <div class="col-2">

  </div>
  <div class="col-8">
    <div class="flex" style="justify-content: center;">
      <div class="flex flex-column ma-center mr-1">
        <img src="assets/svg/sunrise.svg" width="60vh" height="60vh"
             alt="sunrise">
        <span id="sunrise" class="font-semibold">{{ sunrise }}</span>
      </div>

      <div class="flex flex-column ma-center ml-1">
        <img src="assets/svg/sunset.svg" width="60vh" height="60vh"
             alt="sunset">
        <span id="sunset" class="font-semibold" >{{ sunset }}</span>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="flex" style="  justify-content: center;
  align-items: center;">
      <div class="mr-5 mt-5">
      <span id="currentTime" class="font-semibold" style="font-size: 25px">{{currentTime}}</span>
      </div>
    </div>

  </div>
</div>


