<!-- Beschreibung -->
<div class="field">
  <label for="name" class="block text-900 font-light mb-2">Name des Geräts</label>
  <input id="name" type="text" pInputText [formControl]="deviceForm.controls['name']" class="w-full" (change)="emitFormValue()">
  <div class="p-error"
       *ngIf="deviceForm.controls['name'].touched && deviceForm.controls['name'].errors?.['required']">
    Bitte gebe einen Namen für das Gerät ein.
  </div>
</div>

<div class="grid" *ngIf="visible && manufacturer.length > 0">
  <div class="col">
    <!-- Hersteller -->
    <div class="field">
      <label for="manufacturerId" class="block text-900 font-light mb-2">Hersteller</label>
      <p-dropdown id="manufacturerId" placeholder="Hersteller auswählen" [options]="manufacturer" optionLabel="manufacturer" optionValue="manufacturerId"
                  [style]="{'width':'100%'}"
                  (onChange)="loadModelsByManufacturer()"
                  [formControl]="deviceForm.controls['manufacturerId']" class="w-full"></p-dropdown>
      <div class="p-error"
           *ngIf="deviceForm.controls['manufacturerId'].touched && deviceForm.controls['manufacturerId'].errors?.['required']">
        Bitte wählen Sie einen Hersteller aus.
      </div>
    </div>
  </div>
  <div class="col">
    <!-- Modell -->
    <div class="field">
      <label for="deviceId" class="block text-900 font-light mb-2">Modell</label>
      <p-dropdown id="deviceId" placeholder="Modell auswählen"
                  [options]="models"
                  optionLabel="name"
                  optionValue="deviceId"
                  emptyMessage="Nichts gefunden"
                  (onChange)="emitFormValue()"
                  [style]="{'width':'100%'}"
                  [formControl]="deviceForm.controls['deviceId']"
                  class="w-full"></p-dropdown>
      <div class="p-error"
           *ngIf="deviceForm.controls['deviceId'].touched && deviceForm.controls['deviceId'].errors?.['required']">
        Bitte wählen Sie ein Modell aus.
      </div>
    </div>
  </div>
  <div class="col" *ngIf="mode === ApplicationModeEnum.Plant">
    <!-- Schnittstellen Konfiguration -->
    <div class="field">
      <label for="interfaceConfig" class="block text-900 font-light mb-2">Schnittstelle</label>
      <p-dropdown id="interfaceConfig" optionGroupLabel="e" optionLabel="description" placeholder="Schnittstelle auswählen" [options]="interfaceConfigs"
                  (onChange)="emitFormValue()"
                  [style]="{'width':'100%'}"
                  [formControl]="deviceForm.controls['interfaceConfig']" class="w-full">
      </p-dropdown>
      <div class="p-error"
           *ngIf="deviceForm.controls['interfaceConfig'].touched && deviceForm.controls['interfaceConfig'].errors?.['required']">
        Bitte wählen Sie eine Schnittstellen typen aus.
      </div>
    </div>
  </div>
</div>
<hr>
