<form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
  <app-create-device [deviceForm]="deviceForm" (formChange)="onFormValue($event)" [deviceType]="deviceType"/>

  <div *ngIf="deviceForm.controls['interfaceConfig'].value?.type == InterfaceConfig.TypeEnum.Tcp || mode === ApplicationModeEnum.Home">
    <div class="grid">
      <!-- Host -->
      <div class="col">
        <label for="host" class="block text-900 font-light mb-2">IP-Adresse des Gerätes</label>
        <input id="host" [style]="{'width':'100%'}" required type="text" pInputText
               formControlName="host" class="w-full">
        <div class="p-error"
             *ngIf="deviceForm.controls['host'].touched && deviceForm.controls['host'].errors?.['required']">
          Bitte gebe Sie die IP-Addresse des Gerätes an.
        </div>
      </div>
    </div>

    <div class="grid">

      <!-- port -->
      <div class="col">
        <label for="port" class="block text-900 font-light mb-2">Port des Gerätes</label>
        <input [style]="{'width':'100%'}" formControlName="port" id="port" required type="text" pInputText class="w-full">
        <div class="p-error"
             *ngIf="deviceForm.controls['port'].touched && deviceForm.controls['port'].errors?.['required']">
          Bitte gebe Sie den Port des Gerätes an.
        </div>
      </div>
    </div>
  </div>

  <div class="grid">
    <div *ngIf="mode == 'HOME'" class="col">
      <!-- Peak Kilowatt -->
      <label for="peakKilowatt" class="block text-900 font-light mb-2">Leistung PV-Module</label>
      <p-inputNumber [style]="{'width':'100%'}" class="w-full" suffix=" kWp" id="peakKilowatt" formControlName="peakKilowatt" mode="decimal"></p-inputNumber>

      <div class="p-error"
           *ngIf="deviceForm.controls['peakKilowatt'].touched && deviceForm.controls['peakKilowatt'].errors?.['required']">
        Bitte geben Sie eine Zahl ein.
      </div>
    </div>
    <div class="col">
      <!-- Slave-Id -->
      <label for="unitId" class="block text-900 font-light mb-2">Slave-ID</label>
      <p-inputNumber [style]="{'width':'100%'}" class="w-full" id="unitId" formControlName="unitId" mode="decimal" [min]="0" [max]="255"></p-inputNumber>

      <div class="p-error"
           *ngIf="deviceForm.controls['unitId'].touched && deviceForm.controls['unitId'].errors?.['required']">
        Bitte geben Sie eine Slave-ID ein.
      </div>

      <div class="p-error"
           *ngIf="deviceForm.controls['unitId'].touched && deviceForm.controls['unitId'].errors?.['max']">
        Slave-ID darf nicht mehr als 3 Zeichen haben.
      </div>
    </div>
  </div>

  <div class="absolute bottom-0 right-0 align-items-center justify-content-center p-3">
    <button pButton type="submit" label="Speichern" class="w-full" [disabled]="deviceForm.invalid"></button>
  </div>

</form>
