<div class="card">
  <div class="flex">
    <h2>Energiemanagement</h2>
  </div>

  <div *ngFor="let device of devices; index as i" class="flex flex-column">

    <div class="flex mt-3">
      <div class="flex flex-column p-3">
        <div *ngIf="i !== 0">
          <img class="cursor-pointer" src="assets/svg/arrowhead-up.svg" width="40vh" height="40vh" alt="arrow up" (click)="onArrow(device, true)">
        </div>
        <div *ngIf="devices.length !== i +1">
          <img class="cursor-pointer" src="assets/svg/arrowhead-down.svg" width="40vh" height="40vh" alt="arrow down" (click)="onArrow(device,false)">
        </div>
      </div>
      <div class="card w-full">
        <div class="flex ">
          <div>
            <img *ngIf="device.deviceType === Device.DeviceTypeEnum.HybridInverter" class="cursor-pointer" src="assets/svg/battery.svg" width="60vh" height="60vh" alt="battery">
            <img *ngIf="device.deviceType === Device.DeviceTypeEnum.ChargingStation" class="cursor-pointer" src="assets/svg/car.svg" width="60vh" height="60vh"
                 alt="charging station">
            <img *ngIf="device.deviceType === Device.DeviceTypeEnum.HeatPump" class="cursor-pointer" src="assets/svg/pump.svg" width="60vh" height="60vh" alt="heat pump">
          </div>
          <div class="md:ml-5 ml-3">
            <div *ngIf="device.deviceType !== Device.DeviceTypeEnum.HybridInverter">
              <div class="col">
                <span id="name" class="text-500">{{device ? device.name : ''}}</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div>

    </div>

  </div>


</div>
