<div class="flex flex-wrap align-items-center justify-content-center">
  <div class="p-4 w-full lg:w-3">
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">Willkommen</div>
    </div>

    <div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="username" class="block text-900 font-medium mb-2">Benutzername</label>
        <input id="username" type="text" placeholder="Benutzername" pInputText class="w-full mb-3" formControlName="username" >

        <label for="password" class="block text-900 font-medium mb-2">Password</label>
        <input id="password" type="password" placeholder="Password" pInputText class="w-full mb-3" formControlName="password">

        <button pButton pRipple type="submit" label="Anmelden" icon="pi pi-user" class="w-full"></button>
      </form>
    </div>
  </div>
</div>
