<form [formGroup]="interfaceForm" (ngSubmit)="onSubmit()">

  <!-- Schnittstellen typ -->
  <div class="field">
    <label for="interfaceType" class="block text-900 font-medium mb-2">Schnittstelle</label>
    <p-dropdown id="interfaceType" [options]="interfaceTypes | keyvalue" optionLabel="value"
                formControlName="interfaceType"></p-dropdown>
    <div class="p-error"
         *ngIf="interfaceForm.controls['interfaceType'].touched && interfaceForm.controls['interfaceType'].errors?.['required']">
      Bitte wählen Sie eine Schnittstellen typen aus.
    </div>

  </div>

  <div class="field">
    <label for="protocol" class="block text-900 font-medium mb-2">Protokoll</label>
    <p-dropdown id="protocol" [options]="protocols" optionLabel="metaData.description" optionValue="metaData.protocolId"
                formControlName="protocol"></p-dropdown>
    <div class="p-error"
         *ngIf="interfaceForm.controls['protocol'].touched && interfaceForm.controls['protocol'].errors?.['required']">
      Bitte wählen Sie ein Protokoll aus.
    </div>

  </div>

  <div class="absolute bottom-0 right-0 align-items-center justify-content-center p-3">
    <button pButton type="submit" label="Speichern" class="w-full" [disabled]="interfaceForm.invalid" ></button>
  </div>

</form>
