<p-messages *ngIf="validDevices.length === 0" severity="info">
  <ng-template pTemplate>
    <i class="pi pi-info-circle"></i>
    <div class="ml-2">Noch keine Geräte für diesen Gruppentypen verfügbar.</div>
  </ng-template>
</p-messages>

<p-table *ngIf="validDevices.length > 0"
         [value]="validDevices"
         [(selection)]="selectedDevices"
         sortField="unitId"
         sortMode="single"
         [scrollable]="true"
         scrollHeight="400px"
         rowGroupMode="subheader"
         groupRowsBy="interfaceConfig.description"
         [tableStyle]="{'min-width': '60rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>Status</th>
      <th>Name</th>
      <th>Slave-ID</th>
      <th>Modell</th>
      <th>Gerätetyp</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="groupheader" let-validDevice>
    <tr pRowGroupHeader>
      <td colspan="6">
        <span class="font-bold">{{validDevice.interfaceConfig.type}} - {{ validDevice.interfaceConfig.description }}</span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-validDevice>
    <tr>
      <td>
        <p-tableCheckbox [value]="validDevice"></p-tableCheckbox>
      <td>
        <p-chip *ngIf="validDevice.active" label="Erreichbar" image="assets/images/green_dot.png" tooltipPosition="bottom" pTooltip="Daten vom Gerät werden empfangen. "/>
        <p-chip *ngIf="!validDevice.active" label="Nicht Erreichbar" image="assets/images/red_dot.png" tooltipPosition="bottom"
                pTooltip="Bitte überprüfen Sie die Konfiguration des Gerätes. Das Geräte wird erst aktiv geschalten, wenn das Gerät erreichbar ist."/>
      </td>
      <td>
        {{validDevice.name}}
      </td>
      <td>
        {{validDevice.unitId}}
      </td>
      <td>
        {{validDevice.model}}
      </td>
      <td>
        {{validDevice.deviceType}}
      </td>
    </tr>
  </ng-template>
</p-table>


<div class="absolute bottom-0 right-0 align-items-center justify-content-center p-3">
  <button pButton type="submit" label="Speichern" class="w-full" (click)="addDevicesToGroup()" ></button>
</div>

