<p-messages *ngIf="validDevices.length === 0" severity="info">
  <ng-template pTemplate>
    <i class="pi pi-info-circle"></i>
    <div class="ml-2">Noch keine Geräte für diesen Gruppentypen verfügbar, oder alle verfügbare Geräte sind schon einer Gruppe zugewiesen.</div>
  </ng-template>
</p-messages>

<p-table *ngIf="validDevices.length > 0"
         [(selection)]="selectedDevices"
         [scrollable]="true"
         [tableStyle]="{'min-width': '6W0rem'}"
         [value]="validDevices"
         dataKey="id"
         groupRowsBy="interfaceConfig.description"
         rowGroupMode="subheader"
         scrollHeight="55vh"
         sortField="unitId"
         sortMode="single">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>Name</th>
      <th>Modell</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="groupheader" let-validDevice>
    <tr pRowGroupHeader>
      <td colspan="6">
        <span class="font-bold">{{validDevice.interfaceConfig.type}} - {{ validDevice.interfaceConfig.description }}</span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-validDevice>
    <tr>
      <td>
        <p-tableCheckbox [value]="validDevice"></p-tableCheckbox>
      <td>
        {{validDevice.name}}
      </td>
      <td>
        {{validDevice.model}}
      </td>
    </tr>
  </ng-template>
</p-table>


<div class="absolute bottom-0 right-0 align-items-center justify-content-center p-3">
  <button pButton type="submit" label="Speichern" class="w-full" (click)="addDevicesToGroup()" ></button>
</div>

