<div class="flex flex-column p-3" style="justify-content: center; align-items: center">
  <div class="flex">
    <span id="currentTime" class="font-semibold" style="font-size: 25px">{{currentTime}}</span>
  </div>
</div>

<div class="flex mt-3" style="justify-content: center; align-items: center">
  <div class="flex flex-column ma-center mr-1">
    <img src="../../../assets/svg/sunrise.svg" width="60vh" height="60vh"
         alt="sunrise">
    <span id="sunrise" class="font-semibold">{{ sunrise }}</span>
  </div>
  <div class="flex flex-column ma-center ml-1">
    <img src="../../../assets/svg/sunset.svg" width="60vh" height="60vh"
         alt="sunset">
    <span id="sunset" class="font-semibold">{{ sunset }}</span>
  </div>
</div>

