<div class="card" pBadge [severity]="device?.active ? 'success' : 'danger'" size="large">
    <div class="grid">
        <div class="col">
            <label for="name" class="block font-medium mb-2">Name des Gerätes</label>
            <span id="name" class="text-500">{{device?.name}}</span>
        </div>
    </div>

    <div class="grid">
        <div class="col">
            <label for="model" class="block font-medium mb-2">Modell</label>
            <span id="model" class="text-500">{{device?.model}}</span>
        </div>
    </div>

    <div class="grid">
        <div class="col">
            <label for="deviceType" class="block font-medium mb-2">Schnittstelle</label>
            <span id="deviceType" class="text-500">{{device?.interfaceType}}</span>
        </div>
    </div>

    <div class="grid">
        <div class="col">
            <label for="interfaceType" class="block font-medium mb-2">Gerätetyp</label>
            <span id="interfaceType" class="text-500">{{device?.deviceType}}</span>
        </div>
    </div>

    <div class="grid">
        <div class="col">
            <label for="slaveId" class="block font-medium mb-2">Slave-Id</label>
            <span id="slaveId" class="text-500">{{device?.unitId}}</span>
        </div>
    </div>

    <div class="grid">
        <div class="col">
            <label for="createdAt" class="block font-medium mb-2">Erstellt am</label>
            <span id="createdAt" class="text-500">{{device?.createdAt | date: 'dd.MM.yyyy'}}</span>
        </div>
    </div>

    <hr>

    <div *ngIf="device?.interfaceType === InterfaceConfig.TypeEnum.Tcp">

        <div class="grid">
            <div class="col">
                <label for="host" class="block font-medium mb-2">IP-Adresse des Gerätes</label>
                <span id="host" class="text-500">{{asTcpDevice(device!).host}}</span>
            </div>
        </div>

        <div class="grid">
            <div class="col">
                <label for="port" class="block font-medium mb-2">Port</label>
                <span id="port" class="text-500">{{asTcpDevice(device!).port}}</span>
            </div>
        </div>
    </div>

</div>
