<div class="card">
  <div class="grid">
    <div class="col">
      <label for="name" class="block font-medium mb-2">Name des Gerätes</label>
      <span id="name" class="text-500">{{device ? device.name : ''}}</span>
    </div>
    <button pButton type="button" icon="pi pi-trash" (click)="deleteDevice(device!)"
            class="p-button-rounded p-button-text p-button-danger mr-2"></button>
  </div>

  <div class="grid">
    <div class="col">
      <label for="model" class="block font-medium mb-2">Modell</label>
      <span id="model" class="text-500">{{device ? device.model : ''}}</span>
    </div>
  </div>

  <div class="grid">
    <div class="col">
      <label for="status" class="block font-medium mb-2">Status</label>
      <span id="status" class="text-500">{{device?.active ? 'Aktiv' : 'Nicht aktiv'}}</span>
    </div>
  </div>

  <div class="grid">
    <div class="col">
      <label for="deviceType" class="block font-medium mb-2">Schnittstelle</label>
      <span id="deviceType" class="text-500">{{device ? device.interfaceType : ''}}</span>
    </div>
  </div>

  <div class="grid">
    <div class="col">
      <label for="interfaceType" class="block font-medium mb-2">Gerätetyp</label>
      <span id="interfaceType" class="text-500">{{device ? device.deviceType : ''}}</span>
    </div>
  </div>

  <div class="grid">
    <div class="col">
      <label for="slaveId" class="block font-medium mb-2">Slave-Id</label>
      <span id="slaveId" class="text-500">{{device ? device.unitId : ''}}</span>
    </div>
  </div>

  <div class="grid">
    <div class="col">
      <label for="createdAt" class="block font-medium mb-2">Erstellt am</label>
      <span id="createdAt" class="text-500">{{device ? device.createdAt : '' | date: 'dd.MM.yyyy'}}</span>
    </div>
  </div>

  <hr>

  <div *ngIf="device?.interfaceType === InterfaceConfig.TypeEnum.Tcp">

    <div class="grid">
      <div class="col">
        <label for="host" class="block font-medium mb-2">IP-Adresse des Gerätes</label>
        <span id="host" class="text-500">{{asTcpDevice(device!).host}}</span>
      </div>
    </div>

    <div class="grid">
      <div class="col">
        <label for="port" class="block font-medium mb-2">Port</label>
        <span id="port" class="text-500">{{asTcpDevice(device!).port}}</span>
      </div>
    </div>
  </div>
</div>
<app-delete-dialog></app-delete-dialog>
