<form [formGroup]="deviceGroupForm" (ngSubmit)="onSubmit()">
  <p-messages severity="info">
    <ng-template pTemplate>
      <i class="pi pi-info-circle"></i>
      <div class="ml-2">Sobald die Gruppe erstellt worden ist, können Geräte hinzugefügt werden.</div>
    </ng-template>
  </p-messages>

  <!-- Name -->
  <div class="field">
    <label for="name" class="block text-900 font-light mb-2">Name der Gruppe</label>
    <input id="name" type="text" pInputText formControlName="name" class="w-full" maxlength="100">
    <div class="p-error"
         *ngIf="deviceGroupForm.controls['name'].touched && deviceGroupForm.controls['name'].errors?.['required']">
      Bitte gebe einen Namen für die Gruppe ein.
    </div>

  </div>

  <div class="grid">
    <div class="col-6 xs:col-12">
      <!-- Gruppen-Typ -->
      <div class="field">
        <label for="type" class="block text-900 font-light mb-2">Typ der Gruppe</label>
        <p-dropdown id="type" placeholder="Gruppentyp" [options]="deviceGroupTypes | keyvalue" optionLabel="value"
                    [style]="{'width':'100%'}" formControlName="type" class="w-full"></p-dropdown>
        <div class="p-error"
             *ngIf="deviceGroupForm.controls['type'].touched && deviceGroupForm.controls['type'].errors?.['required']">
          Bitte wählen Sie einen Gruppentypen aus.
        </div>
      </div>
    </div>
    <div class="col-6 xs:col-12" *ngIf="deviceGroupForm.value.type.value === DeviceGroup.TypeEnum.Plant">
        <!-- Peak Kilowatt -->
        <div class="field">
          <label for="peak" class="block text-900 font-light mb-2">Kilowatt-Peak der Anlage</label>
          <input id="peak" [style]="{'width':'100%'}" required type="number" pInputText formControlName="peak" class="w-full">
          <div class="p-error"
               *ngIf="deviceGroupForm.controls['peak'].touched && deviceGroupForm.controls['peak'].errors?.['required']">
            Bitte gebe Sie die Kilowatt-Peak der Anlage an.
          </div>
        </div>

    </div>
  </div>


  <div class="absolute bottom-0 right-0 align-items-center justify-content-center p-3">
    <button pButton type="submit" label="Speichern" class="w-full" [disabled]="deviceGroupForm.invalid"></button>
  </div>

</form>
