<mat-nav-list class="pt-0">
  <div class="logo py-4">
    Energycontrol
  </div>
  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" style="text-align: left">
    Dashboard
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" style="text-align: left">
    Konfiguration
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" style="text-align: left">
    Geräte
  </a>
</mat-nav-list>
