<div class="card">
  <div class="flex">
    <h2>Gruppen konfigurieren</h2>
    <i pTooltip="Gerätegruppen sind eine Möglichkeit, mehrere Geräte zu gruppieren und diese dann gemeinsam zu konfigurieren." class="pi pi-info-circle"></i>
    <button pButton type="button" icon="pi pi-plus" (click)="createDeviceGroup()"
            pTooltip="Hinzfügen" style="margin-left: auto; order: 2" tooltipPosition="bottom"
            class="p-button-rounded p-button-outlined "></button>
  </div>


  <div class="grid mt-3">
    <div class="col-12 md:col-6 lg:col-4" *ngFor="let group of deviceGroups">
      <div class="card cursor-pointer" [routerLink]="['/group', group.id]" pBadge [value]="getCountOfDevices(group)" >
        <div class="grid" style="align-items: center">
          <div class="col">
            {{group.name}}
          </div>
        </div>
        <hr>
        <div class="flex" style="align-items: baseline">
          <span class="text-500">Erstellt am: {{group.createdAt | date: 'dd.MM.yyyy'}}</span>

          <button pButton type="button" icon="pi pi-arrow-right" [routerLink]="['/group', group.id]"
                  pTooltip="Gerätegruppe bearbeiten" style="margin-left: auto; order: 2"
                  class="p-button-rounded p-button-text mr-2"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-delete-dialog></app-delete-dialog>
