<div class="card">
  <div class="flex">
    <h2>Gruppen konfigurieren</h2>
    <i pTooltip="Gerätegruppen sind eine Möglichkeit, mehrere Geräte zu gruppieren und diese dann gemeinsam zu konfigurieren." class="pi pi-info-circle"></i>
  </div>

  <app-add-button (add)="createDeviceGroup()"></app-add-button>

  <div class="grid mt-2">
    <div class="col-12 md:col-6 lg:col-4" *ngFor="let group of deviceGroups">
      <div class="card cursor-pointer " pBadge [value]="getCountOfDevices(group)" [routerLink]="['/group', group.id]">
        <div class="grid" style="align-items: center">
          <div class="col-10">
            {{group.name}}
          </div>
          <div class="col-2">
            <button pButton type="button" icon="pi pi-trash" (click)="deleteGroup(group)"
                    class="p-button-rounded p-button-text p-button-danger vertical-align-middle"></button>
          </div>
        </div>
        <hr>
        <div class="grid" style="align-items: baseline">
          <div class="col">
            <span class="text-500">Erstellt am: {{group.createdAt | date: 'dd.MM.yyyy'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-delete-dialog></app-delete-dialog>
